---
openapi: 3.0.1
info:
  title: Lag Time Management
  description: |
    This API manages lag time for items. Lag time is the number of days between when an item is ordered and when it is shipped.

    **May 2024**<br>Built: 05/09/2024, 14:17:12
  version: '1.0'
servers:
- url: https://api-gateway.walmart.com
  description: Production URL
- url: https://sandbox.walmartapis.com
  description: Sandbox URL
paths:
  "/v3/feeds":
    post:
      tags:
      - Lag Time
      operationId: postCreateAnAccessToken
      summary: Update lag time for items in bulk
      description: "<p style=\"color:red; font-size:larger\">POST <walmartAuthServerUrl>/v3/feeds</p>\n\nThis
        request updates the lag time for items in bulk. Lag time is the number of
        days between when an item is ordered and when it is shipped. \nThis feature
        is only available for select drop ship vendor (DSV) suppliers. \nFor more
        on how to request permission, see the guide overview.\n\nTwo versions of this
        feed type exist:\n\n* v2.x: Uses global trade item number (GTIN) as the primary
        item identifier (JSON only). Suppliers can update lag time of multiple items
        across multiple nodes.\n* v1.0: Uses the stock keeping unit (SKU) as the primary
        item identifier (XML and JSON). v1.0 is in the process of being deprecated.\n"
      parameters:
      - in: query
        name: feedType
        required: true
        schema:
          type: string
        description: |
          Specifies the type of the feed content.

          Use `lagtime` for this request.

          Example(s):<br>
          lagtime
        example: lagtime
      - in: query
        name: shipNode
        required: true
        schema:
          type: string
        description: "Specifies the distribution facility distributor identifier.\n\nThis
          parameter is used in v1.0 and not used in v2.x.\n\nThis parameter identifies
          each facility from which the inventory is requested. \nThe identifier is
          autogenerated during drop ship vendor (DSV) account creation. \nEvery time
          users add or update a facility in Supplier Center, a new identifier is generated.\nEnsure
          this value is up to date.\n\nExample(s):<br>\n123456701\n"
        example: '123456701'
      - in: header
        name: Accept
        required: false
        schema:
          type: string
        description: |
          Specifies the data type expected in a response sent from the server.

          Valid values are:

          | Value | Meaning |
          | --- | --- |
          | application/xml | XML format for data returned in response. |
          | application/json | JSON format for data returned in response. |
        example: application/xml
      - in: header
        name: WM_CONSUMER.CHANNEL.TYPE
        required: false
        schema:
          type: string
        description: |
          Specifies an identifier that tracks the consumer request by channel.

          Use the consumer channel type received during onboarding.

          See the system administrator or developer management for the `WM_CONSUMER.CHANNEL.TYPE` value.
        example: 0f3e4dd4-0514-4346-b39d-…
      - in: header
        name: WM_QOS.CORRELATION_ID
        required: true
        schema:
          type: string
        description: "Specifies an identifier for each API call and is used to track
          and debug issues.\n\n This may be any value, but cannot be null or omitted.
          \n"
        example: 6474-a253
      - in: header
        name: WM_SEC.ACCESS_TOKEN
        required: true
        schema:
          type: string
        description: |
          Specifies the access token retrieved in the <a href="https://developer.walmart.com/api/us/supplier/auth#operation/dsvTokenAPI">Create Access Token</a> request.

          This value is required for token-based authentication.
        example: eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM…
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
        description: "Specifies the format of request and response body data. \n\nIt
          specifies if the payload is JSON, XML, form data, or other data type. \nSetting
          `Content-Type` appropriately is essential when exchanging formatted data
          with APIs.\n\nValid values are:\n\n| Value | Meaning |\n| --- | --- |\n|
          application/json | JSON format for request and response body data. |\n|
          multipart/form-data | Multipart form data format for request and response
          body data. |\n"
        example: application/json
      requestBody:
        description: Request fields
        content:
          applications/json:
            schema:
              type: object
              required:
              - lagtimeFeedHeader
              - lagtime
              properties:
                lagtimeFeedHeader:
                  type: object
                  description: 'Specifies an object for lagtime feed header information.

                    '
                  required:
                  - version
                  - feedType
                  - feedDate
                  - locale
                  - businessUnit
                  properties:
                    version:
                      type: string
                      description: |
                        Specifies the   feed header version.

                        Example(s):<br>
                        2.0.20220829-15_11_50-api
                      example: 2.0.20220829-15_11_50-api
                    feedType:
                      type: string
                      description: |
                        Specifies the feed type for lag time feed header information.

                        Valid values are:

                        | Value | Meaning |
                        | --- | --- |
                        | DSV_lagtime | This feed type updates lag time across multiple ship nodes across multiple products. There are two versions: v2.x and v1.5. |
                        | lagtime | This feed type supports updating lagt ime across multiple ship nodes across multiple products. There is one version: v1.4. |

                        Example(s):<br>
                        DSV_lagtime
                      example: DSV_lagtime
                    feedDate:
                      type: string
                      format: date-time
                      description: |
                        Specifies the lag time feed header feed date, in ISO 8601 format.

                        Example(s):<br>
                        2023-03-13T13:03:33.000Z
                      example: '2023-03-13T13:03:33.000Z'
                    locale:
                      type: string
                      description: |
                        Specifies the lag time feed header locale.

                        Example(s):<br>
                        en
                      example: en
                    businessUnit:
                      type: string
                      description: |
                        Specifies the lag time feed header business unit.

                        Example(s):<br>
                        WALMART_US
                      example: WALMART_US
                lagtime:
                  type: array
                  description: 'Specifies an array of objects for lag time information.

                    '
                  items:
                    type: object
                    required:
                    - productId
                    - shipNode
                    - fulfilllmentLagTime
                    properties:
                      productId:
                        type: string
                        description: |
                          Specifies the product identifier for the item.

                          This parameter can only be a global trade item number (GTIN).

                          The global trade item number (GTIN) is a 14-digit number, including the check digit, that is used worldwide and identifies the Each. If the user's number is less than 14 digits, add zeros at the beginning.

                          Example(s):<br>
                          00097531246801
                        example: '00097531246801'
                      shipNode:
                        type: string
                        description: "Specifies the distribution facility distributor
                          identifier.\n\nThis parameter identifies each facility from
                          which the lag time is requested. \nThe identifier is autogenerated
                          during drop ship vendor (DSV) account creation. \nEvery
                          time users add or update a facility in Supplier Center,
                          a new identifier is generated. \nEnsure this value is up
                          to date.\n\nExample(s):<br>\n123456701\n"
                        example: '123456701'
                      fulfilllmentLagTime:
                        type: integer
                        format: int32
                        description: |
                          Specifies fulfillment lag time.

                          Fulfillment lag time is the maximum number of days it takes suppliers to process an order for shipment.

                          Assigning lag times helps suppliers manage when orders are expected to ship to the customer.

                          Example(s):<br>
                          1<br>
                          2
                        example: 1
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  feedId:
                    type: string
                    description: "Indicates the identifier returned from the <a href=\"https://developer.walmart.com/api/us/supplier/items#operation/itemBulkUploads\">POST
                      Bulk Item Upload request</a>, used for tracking the feed file.
                      \n\nExample(s):\nE7BB7DBAF3FF461AB63A2169F3BEAADE@AVQBAgA\n"
                    example: E7BB7DBAF3FF461AB63A2169F3BEAADE@AVQBAgA
  "/v3/lagtime":
    get:
      tags:
      - Lag Time
      operationId: getRetrieveLagTime
      summary: Retrieve lag time for a single item based on product ID
      description: "<p style=\"color:red; font-size:larger\">GET <walmartAuthServerUrl>/v3/lagtime</p>\n\nThis
        request retrieves the lag time for an item with a given product identifier—such
        as a stock keeping unit (SKU) or global trade item number (GTIN)—and ship
        node. \nLag time is the number of days between when an item is ordered and
        when it is shipped.\n\nDrop ship vendor (DSV) suppliers are expected to ship
        items the day they receive the purchase order (PO). \nIn certain exceptions,
        those suppliers can have items with extended lag times. \nUse GET /v3/lagtim
        to see the lag time of an item at a node. \nFor more information about order
        processing and shipping channels, see <a href=\"https://supplierhelp.walmart.com/s/faq?articlenumber=000008139&article=DSV_Order_Processing_and_Shipping&channel=Drop%20Ship\">DSV
        Order Processing and Shipping Channel</a> reference material.\n"
      parameters:
      - in: query
        name: sku
        required: false
        schema:
          type: string
        description: |
          Specifies the stock keeping unit (SKU) item identifier.

          This identifier is specified by the drop ship vendor (DSV) and used by the vendor in the specification file to refer to each item.

          The following special characters in the stock keeping unit (SKU) require encoding: ':', '/', '?', '#', '[', ']', '@', '!', '$', '&', "'", '(', ')', '*', '+', ',', ';', '=', ',', '{', and '}'. '%' requires encoding if it is part of the stock keeping unit (SKU). Encode spaces with %20. Other characters do not require encoding.

          Example(s):<br>
          06194456252572
        example: '06194456252572'
      - in: query
        name: gtin
        required: false
        schema:
          type: string
        description: |
          Specifies the global trade item number (GTIN) item identifier.

          The global trade item number is a 14-digit number, including the check digit, that is used worldwide and identifies the Each. If the user's number is less than 14 digits, add zeros at the beginning.

          Either the `sku` or `gtin` parameter will be required. The user can only submit one.

          Example(s):<br>
          00097531246801<br>
          06194456252572
        example: '06194456252572'
      - in: query
        name: shipNode
        required: true
        schema:
          type: string
        description: |
          Specifies the distribution facility distributor identifier.

          This parameter identifies each facility from which the inventory is requested. The identifier is autogenerated during drop ship vendor (DSV) account creation. Every time users add or update a facility in Supplier Center, a new identifier is generated. Ensure this value is up to date.

          Example(s):<br>
          123456701<br>
          538678001
        example: '538678001'
      - in: header
        name: Accept
        required: false
        schema:
          type: string
        description: |
          Specifies the data type expected in a response sent from the server.

          Valid values are:

          | Value | Meaning |
          | --- | --- |
          | application/xml | XML format for data returned in response. |
          | application/json | JSON format for data returned in response. |
        example: application/xml
      - in: header
        name: WM_CONSUMER.CHANNEL.TYPE
        required: false
        schema:
          type: string
        description: |
          Specifies an identifier that tracks the consumer request by channel.

          Use the consumer channel type received during onboarding.

          See the system administrator or developer management for the `WM_CONSUMER.CHANNEL.TYPE` value.
        example: 0f3e4dd4-0514-4346-b39d-…
      - in: header
        name: WM_QOS.CORRELATION_ID
        required: true
        schema:
          type: string
        description: "Specifies an identifier for each API call and is used to track
          and debug issues.\n\n This may be any value, but cannot be null or omitted.
          \n"
        example: 6474-a253
      - in: header
        name: WM_SEC.ACCESS_TOKEN
        required: true
        schema:
          type: string
        description: |
          Specifies the access token retrieved in the <a href="https://developer.walmart.com/api/us/supplier/auth#operation/dsvTokenAPI">Create Access Token</a> request.

          This value is required for token-based authentication.
        example: eyJraWQiOiIzZjVhYTFmNS1hYWE5LTQzM…
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  sku:
                    type: string
                    description: |
                      Indicates the stock keeping unit (SKU) item identifier.

                      This is a product identifier provided by the drop ship vendor (DSV) to identify each item.

                      Example(s):
                      1487132332472
                    example: '1487132332472'
                  gtin:
                    type: string
                    description: |
                      Indicates the global trade item number (GTIN) item identifier.

                      Example(s):<br>
                      00012947218283
                    example: '00012947218283'
                  fulfillmentLagTime:
                    type: integer
                    format: int32
                    description: |
                      Indicates the number of days between when the item is ordered and when it is shipped.

                      Example(s):<br>
                      1<br>
                      2
                    example: 1
components:
  schemas:
    postUpdateLagTime-request:
      type: object
      required:
      - lagtimeFeedHeader
      - lagtime
      properties:
        lagtimeFeedHeader:
          type: object
          description: 'Specifies an object for lagtime feed header information.

            '
          required:
          - version
          - feedType
          - feedDate
          - locale
          - businessUnit
          properties:
            version:
              type: string
              description: |
                Specifies the   feed header version.

                Example(s):<br>
                2.0.20220829-15_11_50-api
              example: 2.0.20220829-15_11_50-api
            feedType:
              type: string
              description: |
                Specifies the feed type for lag time feed header information.

                Valid values are:

                | Value | Meaning |
                | --- | --- |
                | DSV_lagtime | This feed type updates lag time across multiple ship nodes across multiple products. There are two versions: v2.x and v1.5. |
                | lagtime | This feed type supports updating lagt ime across multiple ship nodes across multiple products. There is one version: v1.4. |

                Example(s):<br>
                DSV_lagtime
              example: DSV_lagtime
            feedDate:
              type: string
              format: date-time
              description: |
                Specifies the lag time feed header feed date, in ISO 8601 format.

                Example(s):<br>
                2023-03-13T13:03:33.000Z
              example: '2023-03-13T13:03:33.000Z'
            locale:
              type: string
              description: |
                Specifies the lag time feed header locale.

                Example(s):<br>
                en
              example: en
            businessUnit:
              type: string
              description: |
                Specifies the lag time feed header business unit.

                Example(s):<br>
                WALMART_US
              example: WALMART_US
        lagtime:
          type: array
          description: 'Specifies an array of objects for lag time information.

            '
          items:
            type: object
            required:
            - productId
            - shipNode
            - fulfilllmentLagTime
            properties:
              productId:
                type: string
                description: |
                  Specifies the product identifier for the item.

                  This parameter can only be a global trade item number (GTIN).

                  The global trade item number (GTIN) is a 14-digit number, including the check digit, that is used worldwide and identifies the Each. If the user's number is less than 14 digits, add zeros at the beginning.

                  Example(s):<br>
                  00097531246801
                example: '00097531246801'
              shipNode:
                type: string
                description: "Specifies the distribution facility distributor identifier.\n\nThis
                  parameter identifies each facility from which the lag time is requested.
                  \nThe identifier is autogenerated during drop ship vendor (DSV)
                  account creation. \nEvery time users add or update a facility in
                  Supplier Center, a new identifier is generated. \nEnsure this value
                  is up to date.\n\nExample(s):<br>\n123456701\n"
                example: '123456701'
              fulfilllmentLagTime:
                type: integer
                format: int32
                description: |
                  Specifies fulfillment lag time.

                  Fulfillment lag time is the maximum number of days it takes suppliers to process an order for shipment.

                  Assigning lag times helps suppliers manage when orders are expected to ship to the customer.

                  Example(s):<br>
                  1<br>
                  2
                example: 1
    postUpdateLagTime-200-response:
      type: object
      properties:
        feedId:
          type: string
          description: "Indicates the identifier returned from the <a href=\"https://developer.walmart.com/api/us/supplier/items#operation/itemBulkUploads\">POST
            Bulk Item Upload request</a>, used for tracking the feed file. \n\nExample(s):\nE7BB7DBAF3FF461AB63A2169F3BEAADE@AVQBAgA\n"
          example: E7BB7DBAF3FF461AB63A2169F3BEAADE@AVQBAgA
    getRetrieveLagTime-200-response:
      type: object
      properties:
        sku:
          type: string
          description: |
            Indicates the stock keeping unit (SKU) item identifier.

            This is a product identifier provided by the drop ship vendor (DSV) to identify each item.

            Example(s):
            1487132332472
          example: '1487132332472'
        gtin:
          type: string
          description: |
            Indicates the global trade item number (GTIN) item identifier.

            Example(s):<br>
            00012947218283
          example: '00012947218283'
        fulfillmentLagTime:
          type: integer
          format: int32
          description: |
            Indicates the number of days between when the item is ordered and when it is shipped.

            Example(s):<br>
            1<br>
            2
          example: 1
x-tagGroups:
- name: 1P Suppliers Lag Time Reference
  tags:
  - Lag Time
